<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uoumeng.umooc.dao.AdditionMapper" >
  <resultMap id="BaseResultMap" type="com.uoumeng.umooc.entity.Addition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="credit" property="credit" jdbcType="DOUBLE" />
    <result column="currency" property="currency" jdbcType="DOUBLE" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, credit, currency, sid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from addition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from addition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uoumeng.umooc.entity.Addition" >
    insert into addition (id, credit, currency, 
      sid)
    values (#{id,jdbcType=INTEGER}, #{credit,jdbcType=DOUBLE}, #{currency,jdbcType=DOUBLE}, 
      #{sid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.uoumeng.umooc.entity.Addition" >
    insert into addition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="credit != null" >
        credit,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="sid != null" >
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=DOUBLE},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=DOUBLE},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uoumeng.umooc.entity.Addition" >
    update addition
    <set >
      <if test="credit != null" >
        credit = #{credit,jdbcType=DOUBLE},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=DOUBLE},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uoumeng.umooc.entity.Addition" >
    update addition
    set credit = #{credit,jdbcType=DOUBLE},
      currency = #{currency,jdbcType=DOUBLE},
      sid = #{sid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>