<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uoumeng.umooc.dao.MaterialMapper">
    <resultMap id="BaseResultMap" type="com.uoumeng.umooc.entity.Material">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="suffix" property="suffix" jdbcType="INTEGER"/>
        <result column="animation" property="animation" jdbcType="VARCHAR"/>
        <result column="size" property="size" jdbcType="DOUBLE"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="bean" property="bean" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="passwd" property="passwd" jdbcType="VARCHAR"/>
        <result column="mdesc" property="mdesc" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="mtime" property="mtime" jdbcType="TIMESTAMP"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,type,suffix,animation,size,price,bean,url,passwd,mdesc,content,mtime,img
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from material
        where id = #{id,jdbcType=INTEGER}
    </select>

</mapper>