<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uoumeng.umooc.dao.ProjecttrainingMapper" >
    <resultMap id="BaseResultMap" type="com.uoumeng.umooc.entity.Projecttraining" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="chid" property="chid" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, content, chid
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from projecttrainging
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from projecttrainging
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.uoumeng.umooc.entity.Projecttraining" >
        insert into projecttrainging (id, content, chid
        )
        values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{chid,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.uoumeng.umooc.entity.Projecttraining" >
        insert into projecttraining
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="chid != null" >
                chid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="content != null" >
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="chid != null" >
                #{chid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.uoumeng.umooc.entity.Projecttraining" >
        update projecttraining
        <set >
            <if test="content != null" >
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="chid != null" >
                seid = #{chid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.uoumeng.umooc.entity.Projecttraining" >
        update projecttraining
        set content = #{content,jdbcType=VARCHAR},
        chid = #{chid,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 根据章ID查询项目考题 -->
    <select id="selectProjecttrainingByChId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from projecttraining
        where chid = #{chId,jdbcType=INTEGER}
    </select>
</mapper>