<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uoumeng.umooc.dao.SectionMapper" >
    <resultMap id="BaseResultMap" type="com.uoumeng.umooc.entity.Section" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="serno" property="serno" jdbcType="INTEGER" />
        <result column="chid" property="chid" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name,type,serno,chid
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from Section
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from Section
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.uoumeng.umooc.entity.Section" >
        insert into Section (id, name, type,serno,chid)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},#{serno,jdbcType=INTEGER})
        #{chid,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.uoumeng.umooc.entity.Section" >
        insert into Section
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="serno != null" >
                serno,
            </if>
            <if test="chid != null" >
                chid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="serno != null" >
                #{serno,jdbcType=INTEGER},
            </if>
            <if test="chid != null" >
                #{chid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.uoumeng.umooc.entity.Section" >
        update Section
        <set >
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="serno != null" >
                #{serno,jdbcType=INTEGER},
            </if>
            <if test="chid != null" >
                #{chid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.uoumeng.umooc.entity.Section" >
        update Section
        set name = #{name,jdbcType=VARCHAR},
        type = #{type,jdbcType=VARCHAR},
        serno = #{serno,jdbcType=VARCHAR},
        chid = #{chid,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 根据章节ID查询本章节所有的视频小节 -->
    <select id="selectSectionsByChId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from Section
        where chid = #{chId,jdbcType=INTEGER} order by serno
    </select>
</mapper>